{{template "header.html" .}}
{{template "nav.html" .}}
<!-- 左侧导航和正文内容的分隔线 -->
<div class="splitter"></div>
<!-- 正文内容部分 -->
<div class="pageContent">
  <div class="container-fluid">
    <h1 class="mt-4" style="font-size: 30px;text-align: center">分类列表</h1>
    <div class="card mb-4">
      <div class="card-header" style="height: 30px">
        <a class=" btn navbar-brand btn-success" href="/cate/add">添加分类</a>
      </div>
      <div class="card-body" style="padding-top: 20px;margin-top: 5px">
        <table class="table table-bordered table-hover" id="datatablesSimple">
          <thead>
          <tr>
            <th>ID</th>
            <th>分类名</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {{range .cateList}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.CateName}}</td>
            <td><a href="/cate/edit?id={{.ID}}">编辑</a>|<a href="/cate/delete?id={{.ID}}">删除</a></td>
          </tr>
          {{end}}
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
{{template "footer.html" .}}
